.header{
    width: 100%;
    height: 1200px;
    margin: 0 auto;
    background-color: aqua;
}
.golova{
    width: 200px;
    height: 200px;
    background-color: rgb(177, 177, 177);
    border-radius: 100%;
    position: relative;
    left: 550px;
    top: 400px;
    z-index: 3;
    box-shadow: 2px 2px 2px 2px rgb(107, 107, 107);
}
.yshu1{
    width: 85px;
    height: 85px;
    background-color: rgb(92, 91, 91);
    position: absolute; 
    z-index: 2;
    border-radius: 100%;
    position: absolute;
    left: 697px;
    bottom: 127px;
}
.yshu11{
    width: 100px;
    height: 100px;
    background-color: rgb(177, 177, 177);
    border-radius: 100%;
    position: absolute;
    left: 690px;
    bottom: 120px;
    z-index: 1;
}
.yshu2{
    width: 85px;
    height: 85px;
    background-color: rgb(92, 91, 91);
    position: absolute; 
    z-index: 2;
    border-radius: 100%;
    position: absolute;
    left: 548px;
    bottom: 127px;
}
.yshu22{
    width: 100px;
    height: 100px;
    background-color: rgb(177, 177, 177);
    border-radius: 100%;
    position: absolute;
    left: 540px;
    bottom: 120px;
    z-index: 1;
}
.glaza1{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    left: 600px;
    bottom: 110px;
    z-index: 3;
}
.glaza2{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    left: 660px;
    bottom: 110px;
    z-index: 3;
}
.glaza11{
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 100%;
    z-index: 4;
    position: absolute;
    left: 613px;
    bottom: 125px;
}
.glaza22{
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 100%;
    z-index: 4;
    position: absolute;
    left: 674px;
    bottom: 125px;
}
.nos{
    width: 40px;
    height: 65px;
    background-color: rgb(66, 38, 5);
    border-radius: 90px;
    z-index: 5;
    position: absolute;
    left: 640px;
    bottom: 60px;
}
.volosu{
    width: 100px;
    height: 100px;
    background-color: rgb(155, 155, 155);
    clip-path: polygon(51% 0, 0% 100%, 100% 100%);
    z-index: 1;
    position: absolute;
    left: 590px;
    bottom: 125px;
}
.volosu2{
    width: 100px;
    height: 100px;
    background-color: grey;
    clip-path: polygon(19% 0, 0% 100%, 100% 100%);
    z-index: 1;
    position: absolute;
    left: 655px;
    bottom: 125px;
}
.telo{
    width: 190px;
    height: 190px;
    background-color: rgb(187, 187, 187);
    z-index: 1;
    position: absolute;
    left: 568px;
    top: 545px;
    border-radius: 60px;
}
.ruka1{
    width: 60px;
    height: 60px;
    background-color: rgb(187, 187, 187);
    position: absolute;
    right: 160px;
    top: 50px;
    border-radius: 100%;
}
.ruka2{
    width: 60px;
    height: 60px;
    background-color: rgb(187, 187, 187);
    position: absolute;
    left: 158px;
    top: 50px;
    border-radius: 100%;
}
.telo2{
    width: 160px;
    height: 160px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    position: absolute;
    left: 15px;
    top: 18px;
    border-radius: 60px;
}
.noga1{
    width: 55px;
    height: 70px;
    background-color: rgb(175, 175, 175) ;
    z-index: 3;
    position: absolute;
    left: 20px;
    top: 135px;
    border-radius: 40%;
    box-shadow: 2px 0px 2px 0px rgb(68, 68, 68);
}
.noga2{
    width: 55px;
    height: 70px;
    background-color: rgb(175, 175, 175) ;
    z-index: 3;
    position: absolute;
    left: 110px;
    top: 135px;
    border-radius: 40%;
    box-shadow: 2px 0px 2px 0px rgb(68, 68, 68);
}
.zemlia{
    clip-path: ellipse(50% 21% at 50% 56%);
    width: 1500px;
    height: 1000px;
    background-color: rgb(4, 189, 4);
    z-index: 1;
    position: absolute;
    top: 380px;
    right: 0px;
}
.bambuk{
    clip-path: polygon(11% 66%, 48% 44%, 49% 0, 56% 0, 55% 43%, 90% 25%, 92% 29%, 55% 50%, 53% 100%, 47% 100%, 48% 49%, 10% 70%);
    width: 100px;
    height: 250px;
    background-color: rgb(75, 112, 6);
    z-index: 4;
    position: absolute;
    bottom: 0px;
    left: 150px;
}
.stvol{
    clip-path: polygon(39% 81%, 38% 60%, 24% 63%, 23% 53%, 35% 49%, 39% 30%, 52% 29%, 54% 51%, 66% 43%, 69% 52%, 55% 67%, 66% 73%, 54% 78%, 54% 81%);
    width: 350px;
    height: 600px;
    background-color: rgb(117, 86, 29);
    z-index: 3;
    position: relative;
    left: 100px;
    top: 62px;
}
.listiki{
    clip-path: polygon(5% 50%, 8% 45%, 7% 37%, 12% 31%, 18% 30%, 23% 27%, 33% 20%, 49% 18%, 68% 21%, 68% 28%, 74% 36%, 77% 44%, 89% 40%, 91% 58%, 92% 60%, 83% 66%, 76% 63%, 57% 64%, 49% 66%, 40% 63%, 33% 62%, 24% 62%, 14% 61%);
    width: 400px;
    height: 400px;
    background-color: rgb(27, 119, 27);
    z-index: 4;
    position: absolute;
    left: 90px;
    top: 260px;
}
